<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{restaurant.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-days-navbar (changed)="navbarClickChangeDay($event)"></app-days-navbar>

  <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel" id="searchbar" position="floating" (ionChange)=search($event)>
  </ion-searchbar>

  <ion-list>
    <ion-card>
      <span>
        <app-meal *ngFor="let meal of currentDayMeals; index as i" [menuDish]="meal"
        (click)="mealCardClicked_AddToCart(meal)" [inCart]="meal.inCart"></app-meal> 
      </span>
    </ion-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [disabled]='false' (click)="showCart()" [routerLink]="['/mobile/tabs/cart']"> <!-- currentDayMeals?.length  -- za disabled-->
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
    <ion-badge>{{orders?.length || 0}}</ion-badge>
  </ion-fab>

</ion-content>