.inCartColor {
    background-color: aqua;
}

.inCart-meal :hover {
    --ion-background-color: #1cba5b;
    border: 1px solid black;
}

.cartButtonHidden {
    visibility: hidden;
}

#badgeIcon {
    margin-left: 40px;
}