<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{restaurant.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-days-navbar (changed)="navbarClickChangeDay($event)"></app-days-navbar>

  <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel" id="searchbar" position="floating"
    (ionChange)=search($event)>
  </ion-searchbar>

  <span>
    <app-meal *ngFor="let meal of currentDayMeals; index as i" [menuDish]="meal"
      (click)="mealCardClicked_AddToCart(meal)" [isAdded]="meal.inCart"></app-meal>
  </span>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [ngClass]="{'cartButtonHidden': orders?.length === 0}">
    <ion-badge id="badgeIcon">{{orders?.length || 0}}</ion-badge>
    <ion-fab-button [disabled]='false' [routerLink]="['/mobile/tabs/cart']">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>