<ion-content>

  <ion-icon [ngClass]="{'active': !service.logiran}" name="wifi-outline"></ion-icon>
  <ion-img src="assets\images\LOGO2-01 1.png" id="appLogo"></ion-img>

  <div class="center">
    <ion-input placeholder="Enter username" type="text" [(ngModel)]="username" class="separate userInput"></ion-input>
    <ion-input placeholder="Input password" type="password" [(ngModel)]="password" class="separate userInput"></ion-input>
    <ion-button color="primary" (click)=logInClick()>Log in</ion-button>
    <a [routerLink]="['/detail']" (click)="showRegistration = !showRegistration" class="center">Registracija</a>
  </div> 

  <app-registration [hidden]="!showRegistration"></app-registration>

</ion-content>