<ion-content>

  <app-days-navbar (changed)="navbarClickChangeDay($event)"></app-days-navbar>

  <h1 id="heading">DAY MEALS</h1>
  <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel" id="searchbar" position="floating"
    [(ngModel)]="searchInput" (ionChange)=setFilteredItems()>
  </ion-searchbar>

  <ion-grid>
    <ion-col>
      <h2>Non active meals</h2>
      <p>Click on the meal card to add it to your day menu</p>
      <ion-content class="mealsBlock">
        <span id="cardDish_allDishesOfRestaurant">
          <app-meal *ngFor="let order of allDishesOfRestaurant; index as i" [allDishesOfRestaurant]="order"
            (click)="mealCardClicked_AddDishToMenu(i)" [isAdded]="currentDayMenu_IncludesDishFrom_AllDishesOfRestaurnat_AtIndex(i)"
            [mealImage]="getMealImage(order.Name)"></app-meal>
        </span>
      </ion-content>
      <ion-button (click)="addNewMealButtonClick()" id="buttonNewMeal">ADD NEW MEAL</ion-button>
    </ion-col>

    <ion-col>
      <h2>Current meals</h2>
      <p>Currently available meals on your daily menu</p>
      <ion-content class="mealsBlock">
        <span id="cardDish_onTheMenu">
          <app-meal *ngFor="let order of menuForWeekAndCompany_currentDayMenu; index as i" [menuForWeek]="order"
            (click)="mealCardClicked_RemoveDishFromMenu(i)" [mealImage]="getMealImage(order.name)"></app-meal>
        </span>
      </ion-content>
    </ion-col>
  </ion-grid>

</ion-content>