<ion-header>
</ion-header>

<ion-content >

  <!-- <app-days-navbar></app-days-navbar> -->
  <div class="days">
    <div class="day">
      <img class="logo" src="assets/images/logobijeli-01 1.png" alt="">
    </div>
    <div [ngClass]="{'day': true, 'active-day': day == currentDay}" *ngFor="let day of days" color="primary"
      (click)="changeDay(day)">
      <span>
        <h2>{{daysNames[day-1]}}</h2>
      </span>
    </div>
  </div>

  <h1 id="heading">DAY MEALS</h1>
  <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel" id="searchbar" position="floating">
  </ion-searchbar>

  <section>
    <article>
      <h2>Non active meals</h2>
      <p>Click on the meal card to add it to your day menu</p>
      <span id="cardMeal">
        <app-meal [mealsForWeek]="order" (click)="mealCardClickedElementAt(i)"
          *ngFor="let order of getMealsForWeek(); index as i"></app-meal>
      </span>
      <ion-button (click)="addNewMeal()" id="buttonNewMeal">ADD NEW MEAL</ion-button>
    </article>
    <article>
      <h2>Current meals</h2>
      <p>currently available meals on your daily menu</p>
      <span>
        <app-meal *ngFor="let order of getMenuForWeek()" [menuForWeek]="order"></app-meal>
      </span>
    </article>
  </section>

</ion-content>