#heading {
    float: left; 
    margin-left: 40%;
}

#searchbar {
    float: right; 
    width: 20%;
    margin-right: 80px;
}

.gridHeader {
    text-align: center;
}

section {
    display: flex;
    clear: both;
    margin-left: 7%;
}

article {
    flex: 1;
    margin: 20px;
    text-align: center;
    align-items: center;    
}

#cardDish_allDishesOfRestaurant :hover {
    --ion-background-color: #92fa9b !important;
    cursor: move;
}

#cardDish_onTheMenu :hover {
    --ion-background-color: #f8aaaa !important;
    cursor: pointer;
}

.mealsBlock {
    margin-top: 10px;
    height: 600px;
    --offset-top: 10px;
    --offset-bottom: 10px;
    --background: rgb(211, 207, 205);
    border-top: 3px green solid;
    border-bottom: 3px green solid;
}

#buttonNewMeal {
    bottom: 30px;
    position: fixed;
    left: 10em;
}