#heading {
    float: left; 
    margin-left: 40%;
}

#searchbar {
    float: right; 
    width: 30%;
}

.gridHeader {
    text-align: center;
}

section {
    display: flex;
    clear: both;
    margin-left: 7%;
}

article {
    flex: 1;
    margin: 20px;
    text-align: center;
    align-items: center;    
}

#cardDish_allDishesOfRestaurant :hover {
    --ion-background-color: #92fa9b !important;
    cursor: move;
}

#cardDish_onTheMenu :hover {
    --ion-background-color: #f8aaaa !important;
    cursor: pointer;
}