<ion-app>

  <ion-menu side="end" contentId="main">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title>End Menu</ion-title>
        <ion-button (click)="closeMenu()" fill="outline" slot="end">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item  href="">My profile</ion-item>
        <ion-item (click)="closeMenu()" [routerLink]="['/web/menu']">Day meals</ion-item>
        <ion-item (click)="closeMenu()" [routerLink]="['/web/dashboard']">Order overview</ion-item>
        <ion-item (click)="logOut()" href="">Log out</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>

  <ion-fab id="main" vertical="top" horizontal="end" slot="fixed" [ngClass]="{'fabBtn': isMobile}">
    <ion-fab-button (click)="openMenu()">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-app>