<ion-content>
  <ion-content class="days">
    <div class="day">
      <ion-img class="logo" src="assets/images/logobijeli-01 1.png" alt=""></ion-img>
    </div>
  </ion-content>
  
  <ion-list class="center">
    <h1>Add new meal</h1>

    <ion-item>
      <ion-img [ngStyle]="{'background-image': image}" slidesPerView="1" id="mealImage"></ion-img>
    </ion-item>
    <ion-input type="file" accept="image/*" (ionChange)="chooseImage($event)"></ion-input>
    
    <ion-input placeholder="Meal Name" type="text" class="separate userInput" [(ngModel)]="mealName"></ion-input>
    <ion-input placeholder="Meal Description" type="text" class="separate userInput" [(ngModel)]="mealDescription">
    </ion-input>

    

    <ion-item>
      <ion-label>Soup: </ion-label>
      <ion-checkbox color="primary" checked="false" [(ngModel)]="soup"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Salad: </ion-label>
      <ion-checkbox color="primary" checked="false" [(ngModel)]="salad"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Bread: </ion-label>
      <ion-checkbox color="primary" checked="false" [(ngModel)]="bread"></ion-checkbox>
    </ion-item>

    <ion-button (click)="cancelAddingNewMeal()" color="danger" class="separate">CANCEL</ion-button>
    <ion-button color="primary" class="separate" (click)="addNewMeal()">SAVE</ion-button>
  </ion-list>
</ion-content>