<ion-content>

  <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel" id="searchbar" position="floating" ionInput="search($event)">
  </ion-searchbar>

  <ion-list>
    <ion-card class="ion-text-center ion-padding" [routerLink]="['/mobile/tabs/restaurant']"
      [queryParams]='{id: restaurant.companyId}' *ngFor="let restaurant of filteredRestauraunts"
      [ngStyle]="{'background-image': restaurant.image}">
      <ion-card-header>
        <ion-card-title class="ion-margin-top">
          <ion-text>{{restaurant.name}}</ion-text>
        </ion-card-title>
      </ion-card-header>
      <ion-card-subtitle>
        <ion-text>Opis</ion-text>
      </ion-card-subtitle>
    </ion-card>
  </ion-list>
</ion-content>