.background-image {
    object-fit: resize;
    height: 100%;
    width: auto !important;
    border: 0;
    padding: 0;
    background-color: grey
}

background-image {
    object-fit: resize;
			height: 100%;
			width: auto !important;
			border: 0;
			padding: 0;
			background-color: grey
}

.image--size {
    object-fit: resize;
    height: 100%;
    width: auto !important;
    border: 0;
    padding: 0;
    background-color: grey
}