.mealCard {
    //background-color: #92949C;
    margin: 15;
    padding: 0px;
    border: 1px grey solid;
    border-radius: 15px;
    margin-bottom: 20px;
}

#mealImage {
    float: left;
    margin: 30px;
    margin-right: 15px;
    width: 100px;
    height: 100px;
}

.mealCard h1{
    color: green;
}