.mealCard {
    background-color: lightgray;
    margin: 15px;
    padding: 15px;
}

#mealImage {
    float: left;
    width: 40px;
    height: 40px;
}

#appLogo {
    width: 100px;
    height: 100px;
}