<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>My orders</ion-title>

    <ion-buttons slot="secondary">
      <ion-button (click)="toggleGrouping()">
        {{grouped ? 'GROUPED' : 'UNGROUPED'}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <app-days-navbar (changed)="navbarClickChangeDay($event)"></app-days-navbar>

  <span>
    <app-meal *ngFor="let order of currentDayOrders; index as i" [userOrder]="order" [mealImage]="getMealImage(order.dishName)"
    [quantity]="this.grouped === true ? getAmountOf(order.dishName) : 0"></app-meal>
  </span>

</ion-content>