<ion-content>

  <app-days-navbar (changed)="navbarClickChangeDay($event)"></app-days-navbar>

  <h1 id="heading">ORDERS OVERVIEW</h1>
  <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel" id="searchbar" position="floating">
  </ion-searchbar>

  <ion-grid>
    <ion-col>
      <h2>Spin</h2>
      <p>Županijska 15</p>
      <span *ngFor="let order of orders; "><app-meal [order]="order"></app-meal></span>
    </ion-col>
    <ion-col>
      <h2>Company Name</h2>
      <p>Company Adress</p>
      <span *ngFor="let order of orders; "><app-meal [order]="order"></app-meal></span>
    </ion-col>
    <ion-col>
      <h2>Company Name</h2>
      <p>Company Adress</p>
      <span *ngFor="let order of orders; "><app-meal [order]="order"></app-meal></span>
    </ion-col>
  </ion-grid>

</ion-content>