#heading {
    float: left;
    margin-left: 40%;
}

#searchbar {
    float: right;
    width: 20%;
    margin-right: 80px;
}

.gridHeader {
    text-align: center;
}

ion-grid {
    display: flex;
    clear: both;
    margin-left: 7%;
}

ion-col {
    margin: 20px;
    text-align: center;
    align-items: center;
}
