<ion-content>

  <app-days-navbar (changed)="navbarClickChangeDay($event)"></app-days-navbar>

  <h1 id="heading">ORDERS OVERVIEW</h1>
  <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel" id="searchbar" position="floating">
  </ion-searchbar>

  <section>
    <article>
      <h2>Spin</h2>
      <p>Županijska 15</p>
      <span *ngFor="let order of orders; "><app-meal [order]="order"></app-meal></span>
    </article>
    <article>
      <h2>Company Name</h2>
      <p>Company Adress</p>
      <!-- <span *ngFor="let order of getOrdersForDay()"><app-meal [order]="order"></app-meal></span> -->
    </article>
    <article>
      <h2>Company Name</h2>
      <p>Company Adress</p>
      <!-- <span><app-meal></app-meal></span> -->
    </article>
  </section>

</ion-content>